---
import { useTranslations } from "@i18n/util";
const t = useTranslations(Astro);
import Button from "@components/common/Button.astro";
const friendLinks = [
  { 
    label: 'SpringCloudAlibaba', 
    link: 'https://sca.aliyun.com/' 
  },
  { 
    label: 'SpringAiAlibaba', 
    link: 'https://sca.aliyun.com/ai/' 
  },
  { 
    label: 'Arthas', 
    link: 'https://arthas.aliyun.com/' 
  },
  { 
    label: 'Dubbo', 
    link: 'https://cn.dubbo.apache.org/zh-cn/' 
  },
  { 
    label: 'Sentinel', 
    link: 'http://sentinelguard.io' 
  },
  { 
    label: 'Higress', 
    link: 'https://higress.io/' 
  },
  { 
    label: 'RocketMQ', 
    link: 'https://rocketmq.io/' 
  },
  { 
    label: '可观测中文', 
    link: 'https://observability.cn/' 
  },
  { 
    label: 'OpenKruise', 
    link: 'https://openkruise.io/' 
  },
  { 
    label: 'serverless-devs', 
    link: 'https://www.serverless-devs.com/' 
  },
];
---

<footer-layout
  class="home-footer w-full bg-gray-14 flex flex-col items-center py-10"
>
  <slot name="after-footer" />
  <div
    class="footer-top flex-col flex bg-gray-13 rounded-2xl text-center lg:flex-row"
  >
    <div class="footer-left flex flex-col gap-0 text-left my-9 ml-10 max-w-2xl">
      <h2 class="font-light footer-left-title text-gray-02 text-[1.75rem] leading-9 lg:w-[25.9375rem] lg:h-10">
        {t("commmon.footer.title")}
      </h2>
      <p
        class="footer_left_des flex-1 text-gray-09 text-[0.875rem] w-[42rem] h-[4.5rem] mt-4 mb-[3rem]"
      >
        {t("commmon.footer.description")}
      </p>
      <Button
        size="large"
        class="rounded-3xl font-semibold"
        href="https://github.com/alibaba/nacos"
        target="_blank"
      >
        GitHub
      </Button>
    </div>
    <div
      class="footer-right grid grid-cols-3 gap-3 flex text-left mt-9 ml-[9.625rem]"
    >
      <!-- 文档 -->
      <div>
        <p
          class="text-gray-10 text-[0.75rem] leading-4 tracking-[.15em] lg:mb-[3.0625rem]"
        >
          {t("commmon.footer.docs")}
        </p>
        <ul class="list-none w-[13.3125rem] h-4 ps-0">
          <li>
            <a
              href="#"
              class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 text-gray-04 no-underline"
            >
              {t("commmon.footer.actions.overview")}
            </a>
          </li>
          <li>
            <a
              href="/docs/v2/quickstart/quick-start/"
              class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 text-gray-04 no-underline"
            >
              {t("commmon.footer.actions.start")}
            </a>
          </li>
          <li>
            <a
              href="/docs/v2/contribution/contributing/"
              class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 text-gray-04 no-underline"
            >
              {t("commmon.footer.actions.guide")}
            </a>
          </li>
        </ul>
      </div>
      <!-- 资源 -->
      <div>
        <p
          class="text-gray-10 text-[0.75rem] leading-4 tracking-[.15em] lg:mb-[3.0625rem]"
        >
          {t("commmon.footer.resource")}
        </p>
        <ul class="list-none w-full h-4 ps-0">
          <li>
            <a
              href="/download/nacos-server/"
              class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 text-gray-04 no-underline"
            >
              {t("commmon.footer.actions.distribution")}
            </a>
          </li>
          <li>
            <a
              href="/docs/ebook/kbyo6n/"
              class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 text-gray-04 no-underline"
            >
              {t("commmon.footer.actions.comm")}
            </a>
          </li>
          <li>
            <a
              href="https://www.aliyun.com/product/aliware/mse?spm=nacos.io.topbar.0.0.0"
              target="_blank"
              class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 text-gray-04 no-underline"
            >
              {t("commmon.footer.actions.enterprise")}
            </a>
          </li>
        </ul>
      </div>
      <!-- 联系我们 -->
      <div>
        <p
          class="text-gray-10 text-[0.75rem] leading-4 tracking-[.15em] lg:mb-[3.0625rem]"
        >
        {t("commmon.header.comm.contact")}
        </p>
        <ul class="list-none w-full h-4 ps-0">
          <li class="mb-2">
            <a
              target="_blank"
              href="https://github.com/alibaba/nacos"
              class="mr-16 text-gray-02 flex items-center no-underline"
            >
              <svg
                class="icon"
                viewBox="0 0 1024 800"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                p-id="3233"
                width="16"
                height="16"
              >
                <path
                  d="M20.48 503.72608c0 214.4256 137.4208 396.73856 328.94976 463.6672 25.8048 6.5536 21.87264-11.8784 21.87264-24.33024v-85.07392c-148.93056 17.44896-154.86976-81.1008-164.94592-97.52576-20.23424-34.52928-67.91168-43.33568-53.69856-59.76064 33.91488-17.44896 68.48512 4.42368 108.46208 63.61088 28.95872 42.88512 85.44256 35.6352 114.15552 28.4672a138.8544 138.8544 0 0 1 38.0928-66.7648c-154.25536-27.60704-218.60352-121.77408-218.60352-233.79968 0-54.31296 17.94048-104.2432 53.0432-144.54784-22.36416-66.43712 2.08896-123.24864 5.3248-131.6864 63.81568-5.7344 130.00704 45.6704 135.168 49.68448 36.2496-9.78944 77.57824-14.9504 123.82208-14.9504 46.4896 0 88.064 5.3248 124.5184 15.23712 12.288-9.4208 73.80992-53.53472 133.12-48.128 3.15392 8.43776 27.0336 63.93856 6.02112 129.4336 35.59424 40.38656 53.69856 90.76736 53.69856 145.24416 0 112.18944-64.7168 206.4384-219.42272 233.71776a140.0832 140.0832 0 0 1 41.7792 99.9424v123.4944c0.86016 9.87136 0 19.6608 16.50688 19.6608 194.31424-65.49504 334.2336-249.15968 334.2336-465.5104C1002.57792 232.48896 782.66368 12.77952 511.5904 12.77952 240.18944 12.65664 20.48 232.40704 20.48 503.72608z"
                  fill="#567BE1"
                  opacity=".65"
                  p-id="3234"
                >
                </path>
              </svg>
              <span class="ml-2 mt-1 text-sm text-gray-02"
                >{t("commmon.header.contact.git")}</span
              >
            </a>
          </li>

          <li class="mb-2">
            <div class="mr-16 hoverable relative">
              <img
                class="tooltip hidden w-40 absolute bottom-9"
                src="https://img.alicdn.com/imgextra/i4/O1CN01jbIvii1i7Dp8PoPB7_!!6000000004365-0-tps-1242-1549.jpg"
                alt=""
              />
              <span class="text-gray-02 flex items-center">
                <svg
                  class="icon"
                  viewBox="0 0 1024 800"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  p-id="4747"
                  width="16"
                  height="16"
                >
                  <path
                    d="M0 0h1024v1024H0z"
                    fill="#567BE1"
                    fill-opacity="0"
                    p-id="4748"></path><path
                    d="M786.978133 481.6896c-153.770667-117.5552-327.133867-273.237333-517.188266-440.183467-14.984533-13.141333-28.2624-7.953067-34.952534 9.5232-42.8032 111.957333-1.297067 211.421867 65.774934 268.731734 67.345067 57.582933 167.492267 110.592 228.829866 138.683733 2.389333 1.092267 0.3072 4.573867-2.116266 3.515733-112.674133-49.152-191.044267-84.650667-297.3696-165.819733-11.434667-8.738133-23.04-5.3248-24.405334 11.707733-8.704 107.042133 60.484267 191.146667 137.728 219.5456 47.786667 17.6128 100.0448 27.3408 148.548267 33.109334 2.525867 0.341333 1.9456 4.027733-0.580267 4.027733-62.498133 0.2048-138.001067-14.609067-203.332266-39.458133-13.789867-5.256533-18.5344 5.632-16.418134 14.267733 11.1616 45.226667 67.652267 114.346667 157.5936 128.887467 16.827733 2.730667 34.747733 3.072 50.722134 2.628266 3.7888-0.136533 4.7104 1.9456 3.4816 4.846934 0 0-61.098667 103.6288-63.761067 108.066133-2.082133 3.447467-0.8192 6.212267 3.515733 6.212267h80.622934c3.754667 0 6.0416 2.389333 4.096 5.5296-1.877333 3.140267-107.656533 176.7424-112.64 185.0368-4.369067 7.202133 0.785067 12.731733 8.942933 6.826666 8.192-5.9392 346.180267-250.88 355.805867-257.911466 4.437333-3.208533 3.413333-7.5776-2.833067-7.5776h-72.2944c-4.744533 0-5.768533-3.140267-2.56-6.314667 3.242667-3.1744 82.090667-80.964267 110.08-110.08 29.184-30.378667 44.100267-86.050133-5.290667-123.8016"
                    fill="#567BE1"
                    p-id="4749"
                  >
                  </path>
                </svg>
                <span class="ml-2 mt-1 text-sm text-gray-02"
                  >{t("commmon.header.contact.ding")}</span
                >
              </span>
            </div>
          </li>

          <li class="mb-2">
            <a
              href="mailto:nacos_dev@linux.alibaba.com"
              class="text-gray-02 flex items-center no-underline"
            >
              <svg
                class="icon"
                viewBox="0 0 1024 800"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                p-id="5876"
                width="16"
                height="16"
              >
                <path
                  d="M953.344 190.4l-409.6 326.528a53.376 53.376 0 0 1-63.488 0l-409.6-326.528c14.976-12.8 33.984-19.84 53.696-19.712h775.296c20.608 0 39.36 7.424 53.696 19.712z m27.968 82.112v500.672c0 44.288-36.48 80.128-81.664 80.128H124.352c-45.12 0-81.664-35.84-81.664-80.128V272.512l405.76 323.52c35.072 27.968 92.096 27.904 127.104 0l405.76-323.52z"
                  fill="#567BE1"
                  p-id="5877"
                >
                </path>
              </svg>
              <span class="ml-2 mt-1 text-sm text-gray-02"
                >{t("commmon.header.contact.mail")}</span
              >
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="w-[85.125rem] self-center divider divider-vertical bg-gray-13 mt-10 mb-0 h-[0.05rem]"
  >
  </div>
  <div
    class="bottom_watermark text-[.875rem] text-gray-09 leading-6 text-center tracking-normal lg:pb-1 lg:pt-8"
  >
    <p class="text-neutral-500 flex pb-4 flex-wrap gap-2 lg:gap-4 justify-center">
      <!-- 友情链接 -->
      {t('commmon.footer.friend.link')}：
      {
        friendLinks.map(item => <a href={item.link} target="_blank" class="hover:text-gray-05 text-gray-09 transition-colors">{item.label}</a>)
      }
    </p>
    © Nacos Authors 2024 | Documentation Distributed under <a
      href="https://creativecommons.org/licenses/by/4.0"
      target="_blank">CC-BY-4.0</a
    >
    <br />
     Copyright © 2017-2024, Alibaba. All rights reserved. Alibaba has
    registered trademarks and uses trademarks.
  </div>
</footer-layout>

<style is:global>
  footer-layout {
    a {
      text-decoration: none; /* 清除下划线等默认样式 */
      color: theme("colors.blue.08"); /* 继承父元素的颜色 */
    }
    .footer-top {
      width: 85.125rem;
    }
    @media (min-width: 50rem) and (max-width: 86rem) {
      .home-footer {
        padding: 2.5rem;
      }
      .footer-top {
        height: auto;
        width: 100%;
        min-height: 28rem;
      }
      .footer-right {
        margin-left: 2.5rem;
        margin-bottom: 2rem;
      }
      .footer-left-button {
        margin: 1rem 0rem;
      }
      .footer-right > div {
        height: auto;
      }
      .footer-right p {
        margin-bottom: 2rem;
      }
      .footer-right ul {
        height: 100%;
      }
      .divider-vertical {
        width: 100%;
      }
    }
    @media (max-width: 50rem) {
      .home-footer {
        padding: 1.5rem !important;
      }
      .footer-top {
        /* align-items: center; */
        min-height: 28rem;
        padding: 1.5rem;
        height: auto;
        width: 100%;
      }

      .footer-left {
        width: 100%;
        margin-left: 0;
        margin-bottom: 1rem;
        margin-top: 0;
      }

      .footer-left p {
        margin: 0rem 0rem 1rem 0rem;
        width: auto;
        height: auto;
      }
      .footer-left-title {
        font-size: 1.125rem;
      }
      .footer-left-des {
        font-size: 0.875rem;
      }

      .footer-left-button {
        margin: 1rem 0rem;
        width: 6rem;
        height: 2rem;
        min-height: 2rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }

      .footer-right {
        width: 100%;
        margin: 0rem !important;
        padding-top: 0rem;
        overflow: hidden;
      }

      .footer-right > div {
        margin-right: 1rem;
        margin-bottom: 1rem;
        width: 8.25rem;
        height: auto;
      }

      .footer-right p {
        width: 8.25rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
      }
      .footer-right ul {
        height: 100%;
      }
      .footer-right a {
        font-size: 0.75rem !important;
      }
      .bottom_watermark {
        margin: 0rem 0.5rem;
        padding: 0.5rem 0rem;
      }
      .divider-vertical {
        width: 100%;
      }
    }

    .hoverable:hover img {
      display: block;
      z-index: 1;
    }
  }
</style>
